.container {
  width: 100%;
  overflow-x: hidden;

  .hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: transparent;

    .text-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: linear-gradient(
        to left bottom,
        rgb(202, 78, 6),
        rgb(202, 78, 6),
        rgb(254, 184, 71)
      );

      display: flex;
      justify-content: center;
      align-items: center;

      h2 {
        font-size: 15rem;
        color: #fff;
        text-transform: uppercase;
        z-index: 2;
      }
      .b {
        position: absolute;
        left: 9rem;
        top: 9rem;
        width: 250px;
      }
      .lemon {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 450px;
        z-index: 1;
      }
    }

    .bottle {
      width: 450px;
      height: auto;
      z-index: 10;
      transform: scale(0.9);
    }
  }
}

.content {
  height: 100vh;
  width: 100%;
  background: #fff;
  padding: 4rem;
  font-size: 1.5rem;
  background-color: rgb(170, 64, 3);
  display: flex;

  .text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 2rem;

    h2 {
      font-size: 48px;
      color: #fff;
    }
    p {
      width: 80%;
      font-size: 20px;
      color: #f3f3f3;
    }
  }
  .image {
    width: 50%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

    .box-img {
      width: 600px;

      .fantaorange-ipad {
        display: none;
      }

      img {
        width: 100%;
      }
    }
  }
}

.footer {
  height: 100vh;
  background: #d1c4e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  gap: 1rem;

  background: linear-gradient(
    to left bottom,
    rgb(202, 78, 6),
    rgb(202, 78, 6),
    rgb(254, 184, 71)
  );

  .box {
    width: 350px;
    height: 350px;
    position: relative;

    img {
      width: 100%;
      height: auto;
      transform: scale(0.9);
    }

    .ipad {
      display: none;
    }

    &:nth-child(2) {
      background: transparent;
    }

    button {
      position: absolute;
      bottom: -5rem;
      left: 50%;
      transform: translate(-50%, -50%);

      width: 130px;
      height: 40px;
      border-radius: 30px;
      color: orange;
      font-size: 18px;
      color: rgb(202, 78, 6);
      border: none;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
        rgba(0, 0, 0, 0.05) 0px 5px 10px;
      font-weight: 600;
      transition: all 0.5s ease-in-out;
      transition-delay: 300ms;
    }

    #bo-center {
      bottom: -8rem;
    }
  }
}
.buy {
  opacity: 0;
  transform: translateY(50);
}
.buy.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (min-width: 610px) and (max-width: 1024px) {
  .container {
    width: 100%;
    .hero {
      overflow: hidden;
      .bottle {
        position: absolute;
        bottom: -12rem;
        width: 600px;
      }
      .text-overlay {
        h2 {
          font-size: 10.5rem;
        }
        .b {
          width: 150px;
          top: 10rem;
          left: 5rem;
        }
        .lemon {
          width: 380px;
        }
      }
    }
  }
  .content {
    position: relative;
    height: 80vh;

    .image {
      display: none;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .box-img {
        img {
          filter: blur(15px);
        }
      }
    }
    .text {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-50%, -50%);
      border: 1px solid red;
      width: 100%;
      justify-content: center;
      align-items: center;
      h2 {
      }
      p {
        text-align: center;
      }
    }
  }
  .footer {
    border: 1px solid red;
    height: 80vh;

    .box {
      img {
      }
      .ipad {
        display: block;
        transform: scale(1.3);
      }
      .buy {
        bottom: -3rem;
      }
      #bo-center {
        bottom: -6rem;
      }
    }
  }
}
@media (max-width: 610px) {
  .container {
    width: 100%;

    .hero {
      overflow: hidden;
      .bottle {
        position: absolute;
        bottom: -5rem;
        width: 350px;
      }
      .text-overlay {
        h2 {
          font-size: 5rem;
        }
        .b {
          width: 150px;
          bottom: -5rem;
          left: 1rem;
        }
        .lemon {
          width: 300px;
        }
      }
    }
  }
  .content {
    position: relative;
    height: 80vh;
    .image {
      display: none;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      .box-img {
        img {
          filter: blur(15px);
        }
      }
    }
    .text {
      width: 80%;

      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-50%, -50%);
      width: 100%;
      justify-content: center;
      align-items: center;
      h2 {
        font-size: 18px;
        border-bottom: 3px solid rgb(255, 255, 255);
        padding: 2rem;
      }
      p {
        text-align: center;
        font-size: 15px;
      }
    }
  }
  .footer {
    padding: 0;
    flex-direction: column;
    height: auto;
    gap: 0;

    .box {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 2px solid rgba(221, 135, 42, 0.984);
      img {
        transform: scale(0.6);
      }
      .ipad {
        display: block;
      }

      .buy {
        bottom: 0;
        border-radius: 0px;
        width: 100px;
        height: 30px;
        border: 1px solid rgb(62, 62, 62);
      }
      #bo-center {
        bottom: 0rem;
      }
    }
  }
}
