.video {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to left top,
    rgb(202, 78, 6),
    rgb(202, 78, 6),
    rgb(254, 184, 71)
  );

  .box {
    width: auto;
    height: 80%;

    video{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
  }
}


@media (min-width: 610px) and (max-width: 1024px) {
 .video{
  height: auto;

  .box{
    width: 100%;
  }
 }
}
@media (max-width: 610px) {
   .video{
  height: auto;
  border-radius: 0;

  .box{
    width: 100%;
    border-radius: 0;

    video{
      height: auto;
      border-radius: 0;
    }
  }
 }
}